<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/icons/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item d-flex align-items-center">
          <ion-icon class="search-icon" name="search"></ion-icon>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <ion-icon name="trending-up"></ion-icon>
            Planner</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <ion-icon name="trending-up"></ion-icon>
            Waterfall</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <ion-icon name="cloud-upload"></ion-icon>
            Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <ion-icon name="analytics"></ion-icon>
            Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <ion-icon name="trending-up"></ion-icon>
            Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <ion-icon name="trending-up"></ion-icon>
            GP Carry</a>
        </li>
      </ul>
      <div class="d-flex mx-2 navbar-right-icons" role="search">
        <a class="nav-link" href="">
          <ion-icon name="home"></ion-icon>
        </a>
        <a class="nav-link" href="">
          <ion-icon name="settings"></ion-icon>
        </a>
        <a class="nav-link" href="">
          <ion-icon name="help-circle-outline"></ion-icon>
        </a>
        <a class="nav-link" href="">
          <ion-icon name="person"></ion-icon>
        </a>
        <a class="nav-link" href="">
          <ion-icon name="power"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
