<div class="container-fluid">
  <div class="custom-container">
    <div class="row">
      <div class="col-md-8">
        <div class="fund-partner">

          <h3 class="my-4">Fund Partner Assignment:</h3>

          <app-fund-partner-filter label="Fund" [options]="fundFilterOptions"
              (optionChanged)="setSelectedFund($event)">
          </app-fund-partner-filter>

          <app-fund-partner-filter label="Fee Performance/Carry Partner" [options]="commonFilterOptions"
              (optionChanged)="setFilter(Filter.PerformanceFee, $event)">
          </app-fund-partner-filter>

          <app-fund-partner-filter label="Management Fee Partner" [options]="commonFilterOptions"
               (optionChanged)="setFilter(Filter.ManagementFee, $event)">
          </app-fund-partner-filter>

          <app-fund-partner-filter label="Other GP" [options]="commonFilterOptions"
               (optionChanged)="setFilter(Filter.OtherGP, $event)">
          </app-fund-partner-filter>
        </div>
      </div>

      <div class="col-md-4">
        <app-count-tile [count]=fundPartners?.length [label]="'Number of LPs assigned'" [color]="TileColor.Red"></app-count-tile>
        <app-count-tile [count]=totalTransferEventCount [label]="'Partner Transfer Events'" [color]="TileColor.Blue"></app-count-tile>
      </div>

      <div *ngIf="fundPartners">
        <app-fund-partner-assignment-table [partners]="fundPartners"></app-fund-partner-assignment-table>
      </div>
    </div>

  </div>
</div>
