<div class="container-fluid">
  <div class="custom-container">
    <div class="row">
      <div class="col-md-8">
        <div class="fund-partner">

          <h3 class="my-4">Fund Partner Assignment:</h3>

          <div class="fund-data d-flex justify-content-between">
            <h1>Fund:</h1>
            <div class="dropdown">
              <select class="form-select" aria-label="Default select example">
                <option selected> Fund A </option>
                <option> Fund B </option>
              </select>
            </div>
          </div>

          <div class="fund-data d-flex justify-content-between">
            <h1>Fee Performance/Carry Partner:</h1>
            <div class="dropdown">
              <select [disabled]="true" class="form-select" aria-label="Default select example">
                <option selected> Deselected </option>
              </select>
            </div>
          </div>

          <div class="fund-data d-flex justify-content-between">
            <h1>Management Fee Partner:</h1>
            <div class="dropdown">
              <select [disabled]="true" class="form-select" aria-label="Default select example">
                <option selected>Deselected</option>
              </select>
            </div>
          </div>

          <div class="fund-data d-flex justify-content-between">
            <h1>Other GP:</h1>
            <div class="dropdown">
              <select [disabled]="true" class="form-select" aria-label="Default select example">
                <option selected>Deselected</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <app-count-tile [count]=55 [label]="'Number of LPs assigned'" [color]="TileColor.Red"></app-count-tile>
        <app-count-tile [count]=15 [label]="'Partner Transfer Events'" [color]="TileColor.Blue"></app-count-tile>
      </div>

      <div class="table-record">
        <table class="table">
          <tr style="background-color: #e5e5e5 !important;">
            <th width="10">Type</th>
            <th scope="col">Lp Name</th>
            <th scope="col">ID</th>
            <th scope="col">Assignment Date</th>
            <th scope="col" >Transferrer Date</th>
            <th scope="col">Transfer %</th>
            <th scope="col">Transferee Date </th>
            <th scope="col">Transfer %</th>
          </tr>
          <tr>
            <td>LP</td>
            <td>Paul Foley</td>
            <td>PF</td>
            <td >01-Jan-2018</td>
            <td></td>
            <td ></td>
            <td></td>
            <td ></td>
          </tr>
          <tr>
            <td rowspan="3">iLP</td>
            <td rowspan="3">Sharon Vazs</td>
            <td rowspan="3">SV</td>
            <td rowspan="3">01-Jan-2018</td>
            <td></td>
            <td></td>
            <td>15-Sep-2020</td>
            <td>by Commitment</td>
          </tr>
          <tr>
            <td>30-Jun-2021</td>
            <td>40.00%</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>30-Sep-2021</td>
            <td>100.00%</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>LP</td>
            <td>Istvan Lajtai</td>
            <td>IL</td>
            <td>01-Jan-2018</td>
            <td>15-Sep-2020</td>
            <td>80.00%</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>LP</td>
            <td>Peter Voss</td>
            <td>PV</td>
            <td>15-Sep-2020</td>
            <td></td>
            <td></td>
            <td>15-Sep-2020</td>
            <td>by Commitment</td>
          </tr>
          <tr>
            <td>LP</td>
            <td>Vivien Kiss</td>
            <td>VK</td>
            <td>30-Jun-2021</td>
            <td></td>
            <td></td>
            <td>30-Jun-2021</td>
            <td>100.00%</td>
          </tr>
          <tr>
            <td rowspan="2">iLP</td>
            <td rowspan="2">Rhys Jones</td>
            <td rowspan="2">RJ</td>
            <td rowspan="2">30-Sep-2021</td>
            <td></td>
            <td></td>
            <td>30-Sep-2021</td>
            <td>by Capital</td>
          </tr>
          <tr>
            <td>30-Sep-2021</td>
            <td>100.00%</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
