<table class="table">
  <tr style="background-color: #e5e5e5 !important;">
    <th>Type</th>
    <th scope="col">Lp Name</th>
    <th scope="col">ID</th>
    <th scope="col">Assignment Date</th>
    <th scope="col" >Transferrer Date</th>
    <th scope="col">Transfer %</th>
    <th scope="col">Transferee Date </th>
    <th scope="col">Transfer %</th>
  </tr>

<!--  below code can be further extracted into components, for now leaving it like this-->
  <ng-container *ngFor="let partner of partners; let i = index">
    <tr>
      <td [attr.rowspan]="partner.partnershipTransferEvents.length || 1">{{partner.type}}</td>
      <td [attr.rowspan]="partner.partnershipTransferEvents.length || 1">{{partner.name}}</td>
      <td [attr.rowspan]="partner.partnershipTransferEvents.length || 1">{{partner.identifier}}</td>
      <td [attr.rowspan]="partner.partnershipTransferEvents.length || 1">{{partner.assignmentDate}}</td>

      <ng-container *ngIf="!partner.partnershipTransferEvents.length">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </ng-container>

      <ng-container *ngFor="let transferEvent of partner.partnershipTransferEvents | slice:0:1;">
        <td>{{ transferEvent.type === TransferType.Transferrer ? transferEvent.date : '' }}</td>
        <td>{{ transferEvent.type === TransferType.Transferrer ? transferEvent.value : '' }}</td>
        <td>{{ transferEvent.type === TransferType.Transferee ? transferEvent.date : '' }}</td>
        <td>{{ transferEvent.type === TransferType.Transferee ? transferEvent.value : '' }}</td>
      </ng-container>
    </tr>

    <tr *ngFor="let transferEvent of partner.partnershipTransferEvents | slice:1: partners[i].partnershipTransferEvents.length;">
      <td>{{ transferEvent.type === TransferType.Transferrer ? transferEvent.date : '' }}</td>
      <td>{{ transferEvent.type === TransferType.Transferrer ? transferEvent.value : '' }}</td>
      <td>{{ transferEvent.type === TransferType.Transferee ? transferEvent.date : '' }}</td>
      <td>{{ transferEvent.type === TransferType.Transferee ? transferEvent.value : '' }}</td>
    </tr>

  </ng-container>

</table>
